* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    font-weight: bold;
    font-family: "FiraCode Nerd Font";
}

#workspaces button {
    background: transparent;
    color: white;
    padding: 2 5pt;
}

#workspaces button.focused {
}

#workspaces button.active {
    color: #0b4685
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#idle_inhibitor, #clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode {
    padding: 2 6pt;
}

#clock {
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: #f67400;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f67400;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}
